<a href="https://colab.research.google.com/github/victorianuness/PA-2025/blob/main/variaveisoperadoresaritmetricos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# variáveis e constantes

In [1]:
idade = 15
altura = 1.53
nome = "Victoria Américo"
vai = True

In [2]:
nomes = [" Victoria", "juliana", "Cintia"]
nomes2 = ("Victoria", "juliana", "Cintia", "mariana")
tudo = {nome:"Cintia pinho",idade: 42, altura:1.52,vai: True}

In [3]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Victoria Américo
[' Victoria', 'juliana', 'Cintia']
('Victoria', 'juliana', 'Cintia', 'mariana')
{'Victoria Américo': 'Cintia pinho', 15: 42, 1.53: 1.52, True: True}

In [4]:
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(idade))
print(type(altura))
print(type(vai))
print(type(tudo))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'dict'>

In [5]:
print("O nome dela é:", nome, "sua idade é:" ,idade, ",ela tem", altura, "metros" )

O nome dela é: Victoria Américo sua idade é: 15 ,ela tem 1.53 metros

In [6]:
nome = "victoria"
idade = 15
print(f"Nome: {nome}, idade: {idade}")

Nome: victoria, idade: 15

# área do círculo

In [7]:
PI = 3.14159
raio =  float(input("Digite o valor do raio do círculo: "))

Digite o valor do raio do círculo: 4

In [13]:
areacir = PI * (raio**2)

In [14]:
print(f"A área do círculo é {areacir}")

A área do círculo é 50.26544

# área do quadrado

In [10]:
lado = 4
area = float(input("Digite a área do quadrado: "))

Digite a área do quadrado: 4

In [11]:
areaqua = (lado **2)

In [12]:
print(f"A área do quadrado é {areaqua}")

A área do quadrado é 16